entrypoint = "educhat.py"
run = ["streamlit", "run", "educhat.py"]

modules = ["python-3.12"]

hidden = [".pythonlibs", ".streamlit"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run --server.enableCORS=true --server.enableXsrfProtection=false educhat.py"]
ignorePorts = false
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80

[workflows]
runButton = "Streamlit App Python 3.12"

[[workflows.workflow]]
name = "Streamlit App"
author = 2410224
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run educhat.py"

[[workflows.workflow]]
name = "Streamlit App Python 3.12"
author = 2410224
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run educhat.py"
