entrypoint = "educhat.py"
run = ["streamlit", "run", "educhat.py"]

modules = ["python-3.10"]

hidden = [".pythonlibs", ".streamlit"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["streamlit", "run", "--server.enableCORS=false", "--server.enableWebsocketCompression=false", "--server.runOnSave=false", "educhat.py"]
ignorePorts = false
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Streamlit App"

[[workflows.workflow]]
name = "Streamlit App"
author = 2410224
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run educhat.py"
